// Format description
// blocks is array
// locations is array of x and y's offset respectively
// Location offset should be the offset from origin. 
// For example if origin is 2 then third value of locations should be (0.0, 0.0) 
// and other value should be the offset from that origin.
// Origin is rotation origin and origin starts from 0
// While offset means rotation offset
// Block's Default position should be 'UP' which means upward and not horizontally set.

// TODO Currently  rotation offset other than long stick and square is not modified from default value
(
	// Long Stick Block [0]
	// ---
	// | |
	// ---
	// | |
	// o--
	// |O| -> Origin block. Origin point is left top point which is represented as small o in here. 
	// ---
	// | |
	// ---
	blocks: [
	(
		 locations : [ 
		  (0.0, 90.0	),
		  (0.0, 45.0	),
		  (0.0, 0.0		),
		  (0.0, -45.0	),
		 ],
		origin: 2,
		offset: Some(( 
			right_rotate: (-1,2),
			left_rotate: (-2,1)
		)),
		sub_offset: None,
	),
	// Square Block [1]
	// ------
	// | || |
	// ---o--
	// | ||O|
	// ------
	(
		 locations : [ 
		  (-45.0, -45.0	),
		  (-45.0, 0.0	),
		  (0.0, -45.0	),
		  (0.0, 0.0		),
		 ],
		origin: 3,
		offset: None,
		sub_offset: None,
	),
	// Mountain Block [2]
	// ---
	// | |
	// o-----
	// |O|| |
	// ------
	// | |
	// ---
	(
		 locations : [ 
		  (0.0, 45.0	),
		  (0.0, 0.0	),
		  (45.0, 0.0	),
		  (0.0, -45.0		),
		 ],
		origin: 1,
		offset: Some(( 
			right_rotate: (-1,1),
			left_rotate: (-1,1)
		)),
		sub_offset: None,
	),
	// Light cane Block [3]
	// ---
	// | |
	// ---
	// | |
	// o-----
	// |O|| |
	// ------
	(
		 locations : [ 
		  (0.0, 90.0),
		  (0.0, 45.0),
		  (0.0, 0.0	),
		  (45.0, 0.0),
		 ],
		origin: 2,
		offset: Some(( 
			right_rotate: (0,2),
			left_rotate: (-2,0)
		)),
		sub_offset: Some((
				right_rotate: (-1,0),
				left_rotate: (0,1)
		)),
	),
	// Left cane Block [4]
	//    ---
	//    | |
	//    ---
	//    | |
	// ---o--
	// | ||O|
	// ------
	(
		 locations : [ 
		  (0.0, 90.0	),
		  (0.0, 45.0	),
		  (0.0, 0.0	),
		  (-45.0, 0.0		),
		 ],
		origin: 2,
		offset: Some(( 
			right_rotate: (0,2),
			left_rotate: (-2,0)
		)),
		sub_offset: Some((
				right_rotate: (0,1),
				left_rotate: (-1,0)
		)),
	),
	// Right zigzag Block [5]
	//    ---
	//    | |
	// ---o--
	// | ||O|
	// ------
	// | |
	// ---
	(
		 locations : [ 
		  (0.0, 45.0	),
		  (0.0, 0.0	),
		  (-45.0, 0.0	),
		  (-45.0, -45.0		),
		 ],
		origin: 1,
		offset: Some(( 
			right_rotate: (-1,1),
			left_rotate: (-1,1)
		)),
		sub_offset: None,
	),
	// Left zigzag Block [6]
	// ---
	// | |
	// o-----
	// |O|| |
	// ------
	//    | |
	//    ---
	(
		 locations : [ 
		  (0.0, 45.0	),
		  (0.0, 0.0	),
		  (45.0, 0.0	),
		  (45.0, -45.0		),
		 ],
		origin: 1,
		offset: Some(( 
			right_rotate: (-1,1),
			left_rotate: (-1,1)
		)),
		sub_offset: None,
	),
	]
)
