(
	blocks: [
	(
		// 여기에 이제 어떻게 블록들을 할당해야 하는가의 정보가 담겨야 한다. 
		// 간단하게는 0,0 으로부터 시작해서 
		// x, y로 얼마나 이동해야 하는 가를 정의한다. 
		// locations : [ 
		//  (f32, f32),
		//  (f32, f32),
		//  (f32, f32),
		//  (f32, f32),
		// ]
		origin: 2,
		offset: ( 
			right_rotate: (-1,2),
			left_rotate: (-2,1)
		)
	)
	]
)
