(
    axes: {
        Horizontal: Emulated(pos: Key(Right), neg: Key(Left)),
		Vertical: Emulated(pos: Key(Up), neg: Key(Down)),
    },
	actions: {
		Shoot: [[Key(Space)]],
		RotateRight: [[Key(D)]],
	},
)
